@model PrivateSchool.Entities.Concrete.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h2>@Model.FirstName @Model.LastName</h2>
<img src="@Model.PhotoUrl" alt="Student's Image" />


<ul>
    <li>@Html.DisplayNameFor(x => x.FirstName) : @Html.DisplayFor(x => x.FirstName)</li>
    <li>@Html.DisplayNameFor(x => x.LastName) : @Html.DisplayFor(x => x.LastName)</li>
    <li>@Html.DisplayNameFor(x => x.Age) : @Html.DisplayFor(x => x.Age)</li>
    <li>@Html.DisplayNameFor(x => x.Email) : @Html.DisplayFor(x => x.Email)</li>
    <li>@Html.DisplayNameFor(x => x.TuitionFees) : @Html.DisplayFor(x => x.TuitionFees)</li>
</ul>
@Html.ActionLink("Back To Students", "Index", "Student")
