@model IEnumerable<PrivateSchool.Entities.Concrete.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    ViewBag.Title = "Index";
}

@{
    int count = Model.Count();
    if (count > 0)
    {
        ViewBag.message = count + " Students Found";
    }
    else if (count == 1)
    {
        ViewBag.message = count + " Student Found";
    }
}
<p><em>@ViewBag.message</em></p>

@*<div class="sidebar left">
    <nav id="sidebar">
        <form name="FirstName" method="get">
            <label>FirstName</label>
            <input type="text" name="FirstName" />
            <button class="btn-primary">Search</button>
        </form>
    </nav>
</div>*@
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(x => x.PhotoUrl)</td>
                <td>@Html.DisplayNameFor(x => x.FirstName)</td>
                <td>@Html.DisplayNameFor(x => x.LastName)</td>
                <td>@Html.DisplayNameFor(x => x.Age)</td>
                <td>@Html.DisplayNameFor(x => x.PhoneNumber)</td>
                <td>@Html.DisplayNameFor(x => x.Email)</td>
                <td>Courses-Assignments</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
            <tr>
                <td><img src="@student.PhotoUrl" class="img-fluid" width="100" /></td>
                <td>@Html.DisplayFor(x => student.FirstName)</td>
                <td>@Html.DisplayFor(x => student.LastName)</td>
                <td>@Html.DisplayFor(x => student.Age)</td>
                <td>@Html.DisplayFor(x => student.PhoneNumber)</td>
                <td>@Html.DisplayFor(x => student.Email)</td>
                <td>
                    <ul>
                        @foreach (var course in student.Courses)
                        {
                            <li>@Html.DisplayFor(x => course.Stream)</li>
                            foreach (var assignment in course.Assignments)
                            {
                                <ol>@Html.DisplayFor(x => assignment.Description)</ol>
                            }
                        }
                    </ul>
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = student.StudentId }, new { @class = "btn btn-dark " })
                    @Html.ActionLink("Details", "Details", new { id = student.StudentId }, new { @class = "btn btn-dark" })
                    @Html.ActionLink("Delete", "Delete", new { id = student.StudentId }, new { @class = "btn btn-dark" })</td>
            </tr>

            }
        </tbody>
    </table>
