@model PrivateSchool.Entities.Concrete.Trainer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@*,FirstName,LastName,Salary,PhoneNumber,Email,PhotoUrl*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ListBox("SelectedCoursesId")
    @Html.HiddenFor(x => x.TrainerId)

    <div class="form-group">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new { placeholder = "First Name", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last Name", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Salary)
        @Html.TextBoxFor(x => x.Salary, new { type = "number", placeholder = "Salary", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber, new { type = "number", placeholder = "Phone", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { type = "email", placeholder = "Email", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PhotoUrl)
        @Html.TextBoxFor(x => x.PhotoUrl, new { placeholder = "Email", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhotoUrl, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Edit" class="form-control" />

}

