@model PrivateSchool.Entities.Concrete.Course

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ListBox("SelectedStudentsIds")
    @Html.ListBox("SelectedTrainersIds")
    @Html.ListBox("SelectedAssignmentsIds")

    @Html.HiddenFor(x=>x.CourseId)

    <div class="form-inline">
        @Html.LabelFor(x => x.Stream)
        @Html.TextBoxFor(x => x.Stream, new { @placeholder = "Stream", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Stream, "", new { @class = "text-danger" })
    </div>

    <hr />

    <div class="form-inline">
        @Html.LabelFor(x => x.Type)
        @Html.EnumDropDownListFor(x => x.Type, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
    </div>

    <hr />

    <div class="form-inline">
        @Html.LabelFor(x => x.PhotoUrl)
        @Html.TextBoxFor(x => x.PhotoUrl, new { @placeholder = "PhotoUrl", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhotoUrl, "", new { @class = "text-danger" })
    </div>
    <hr />

    <div class="form-inline">
        @Html.LabelFor(x => x.StartingDate)
        @Html.TextBoxFor(x => x.StartingDate, new { type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
    </div>
    <hr />

    <div class="form-inline">
        @Html.LabelFor(x => x.EndingDate)
        @Html.TextBoxFor(x => x.EndingDate, new { type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EndingDate, "", new { @class = "text-danger" })
    </div>
    <hr />

    <div class="form-inline">
        <input type="submit" value="Edit" class="form-control" />
    </div>

}

