@model IEnumerable<PrivateSchool.Entities.Concrete.Course>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-light" })

@{
    int count = Model.Count();
    if (count > 0)
    {
        ViewBag.message = count + " Courses Found";
    }
    else if (count == 1)
    {
        ViewBag.message = count + " Course Found";
    }
}
<p><em>@ViewBag.message</em></p>
<form method="get" name="sort">
</form>
<table class="table table-borderless table-dark">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(x => x.Stream)</td>
            <td>@Html.DisplayNameFor(x => x.Type)</td>
            <td>@Html.DisplayNameFor(x => x.StartingDate)</td>
            <td>@Html.DisplayNameFor(x => x.EndingDate)</td>
            <td>@Html.DisplayNameFor(x => x.Students)</td>
            <td>@Html.DisplayNameFor(x => x.Trainers)</td>
            <td>@Html.DisplayNameFor(x => x.Assignments)</td>

            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => course.Stream)</td>
                <td>@Html.DisplayFor(x => course.Type)</td>
                <td>@Html.DisplayFor(x => course.StartingDate)</td>
                <td>@Html.DisplayFor(x => course.EndingDate)</td>
                <td>
                    <ul>
                        @foreach (var student in course.Students)
                        {
                            <li>@Html.DisplayFor(x => student.FirstName)</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var trainer in course.Trainers)
                        {
                            <li>@Html.DisplayFor(x => trainer.FirstName)</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var assignment in course.Assignments)
                        {
                            <li>@Html.DisplayFor(x => assignment.Description)</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = course.CourseId },new { @class = "btn btn-light" }) 
                    @Html.ActionLink("Details", "Details", new { id = course.CourseId },new { @class = "btn btn-light" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = course.CourseId },new { @class = "btn btn-light" })
                </td>
                </tr>
        }
    </tbody>
</table>
