@model PrivateSchool.Entities.Concrete.Assignment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@*Desc,PhotoUrl, SubDate Courses*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ListBox("SelectedCoursesId")
    @Html.HiddenFor(x => x.AssignmentId)

    <div class="form-group">
        @Html.LabelFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description, new { placeholder = "Desc", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.SubDate)
        @Html.TextBoxFor(x => x.SubDate, new { type = "date", placeholder = "Salary", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SubDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PhotoUrl)
        @Html.TextBoxFor(x => x.PhotoUrl, new { placeholder = "Email", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhotoUrl, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Edit" class="form-control" />

}

